extends layout

block content
  h1= title

  div.select-dropdown
    select
      option Select an Emoji:
      script(src='/javascripts/emoji.js')
      script(src='/javascripts/select-dropdown.js')

  ul#messages
    form#chat(action="")
      input#m(type='text', autocomplete='off', autofocus=true)
      button#send(type='submit') Send

  script.
    const chat = document.querySelector('#chat');
    chat.addEventListener('submit', function(ev) {
      ev.preventDefault()
    });

    const messageList = document.querySelector('#messages');
    const textField = document.querySelector('#m');
    const socket = io();
    const sendMessage = function() {
      const message = textField.value.trim();
      if (message.length > 0) socket.emit('message', message);
      textField.value = "";
    };
    const button = document.querySelector('#send');
    button.addEventListener('click', function(ev) {
      sendMessage();
    });

    socket.on('message', function(msg) {
      const listNode = document.createElement('LI');
      const messageNode = document.createTextNode(msg);
      listNode.appendChild(messageNode);
      messageList.appendChild(listNode);
    });
